*{
    font-family: cursive;
}

input, select{
    margin: 10px 0;
}

.explosao{
    width: 100%;
    position: absolute;
    top: -80px;
}

textarea{
    resize: none;
}

.bg-gradient-sopa{
    background:linear-gradient(to left,purple,skyblue) ;
}


.listar{
    overflow-y: scroll;
    max-height: 600px;
}

